{% extends 'petitions/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
{% if message %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
</div>
{% endif %}

<h1>{{ petition.name }}</h1>

<p>
    {{ petition.description }}
</p>

<h2>{% trans "Sign" %}</h2>

<form action="." method="post">
    {% csrf_token %}
    {% bootstrap_form signature_form %}

    <input type="submit" value="{% trans "Submit" %}">
</form>

{% if request.user.is_superuser %}
<p style="margin-top:20px;">
    <a href="{% url 'petitions:signatures' petition.id %}">Vidi potpise</a> |
    <a target="_blank" href="{% url 'petitions:embed' petition.id %}">Embed kod</a>
</p>
{% endif %}

<script>
 window.onload = function() {
     const height = document.body.scrollHeight;

     if (window.parent) {
         window.parent.postMessage(`${height}px`, "*");
     }
 };
</script>
{% endblock %}
