<iframe id="peticija" src="https://peticije.sudjeluj.org/petitions/{{ petition_id }}/" width="100%" height="500" frameborder="0"></iframe>
<script>
 window.addEventListener("message", (event) => {
     if (event.data != "") {
         document.getElementById("peticija").height = event.data;
     }
 });
</script>
