{% extends 'petitions/base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1>{{ petition.name }} - Signatures</h1>

<p>
    <a href="{% url 'petitions:signatures_csv' petition.id %}">Export as CSV</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nr.</th>
            <th>Name</th>
            <th>City</th>
            <th>Email</th>
            <th>Consent</th>
        </tr>
    </thead>

    <tbody>
        {% for signature in signatures %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ signature.name }}</td>
            <td>{{ signature.city }}</td>
            <td>{{ signature.email }}</td>
            <td>{{ signature.contact_consent }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    <a href="{% url 'petitions:signatures_csv' petition.id %}">Export as CSV</a>
</p>
{% endblock %}
